html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  margin: 0rem 0;
  background: #f1f1f1;
  --primary: #2d2d2d;
  --secondary: #535353;
}

/* h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 80px;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: #f1f1f1;
} */
h2{
  font-size: 1.6rem;
  color: var(--primary);
}
h3{
  font-size: 1rem;
  color: var(--secondary);
}
h4{
  font-size: 1.4rem;  
  color: var(--primary)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p{
  line-height: 150%;
}

.center-block{
  margin: auto;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input{
  text-align: center;
  padding: 0.5rem 8rem;
}